<form action="">
    <p>Título:</p>
    <input type="text"
    <p>Conteudo</p>
    <textarea name="Conteudo"></textarea>
    <button type="submit">Cadastrar conteúdo</button>







</form>